:root{
  --dark: #121212;
  --main: #36C7D0;
}

html{
  font-size: 16px;
  background: var(--dark);
}
body{
  background: var(--dark);
}

.text-main{
  color: var(--main);
}

.weather-card{
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
}

.bg-weather{
  background:  linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ), url('./assets/images/background.jpg') #121212;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

label{
  width: 100%;
}

input{
  background: transparent;
  color: white;
  border:none;
  border-bottom: 2px solid #36C7D0;
  width: 100%;
  margin: 2rem 0;
}

input:-internal-autofill-selected{
  background: transparent!important;
  color: var(--main)!important;
}

.app-card-container{
  height: 60vh;
}

.bg-dark{
  background: #212325!important;
}

.btn-custom{
  border: 2px solid var(--main);
  color: var(--main);
  transition: 500ms ease-in-out;
}

.btn-custom:hover{
  background: var(--main);
  color: var(--dark);
}

.weather-data{
  padding: 2rem 1rem;
  border-radius: 18px;
  color: var(--main);
}

.weather-data p{
  font-size: 1rem;
}

@media (min-width: 768px){
  .wrapper{
    min-height: 100vh;
  }
  .weather-card{
    margin-top: 0;
    border-radius: 0 25px 25px 0;
  }
  .bg-weather{
    background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('./assets/images/background.jpg') #121212;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 25px 0 0 25px;
  }
  .app-card-container{
    height: 80vh;
  }
}